<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.prxsd.daemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/sd</string>
        <string>monitor</string>
        <string>/Users</string>
        <string>/tmp</string>
        <string>--data-dir</string>
        <string>/etc/prx-sd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/var/log/prx-sd.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/prx-sd.err</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
